image: maven:3.9.8-eclipse-temurin-17-focal

definitions:
  docker:
    memory: 4096  # increase memory for docker-in-docker from 1GB to 4GB
  caches:
    gradle-java17: ~/.gradle/caches
    gradlewrapper-java17: ~/.gradle/wrapper
    maven-java17: ~/.m2/repository
  mvnVars:
    &setEnv export MAVEN_OPTS="-Xmx4096M" &&
    export MAVEN_ARGS="-Dorg.slf4j.simpleLogger.showDateTime=true -Dorg.slf4j.simpleLogger.dateTimeFormat=HH:mm:ss,SSS"
  steps:
    - step: &install
        runs-on: self.hosted
        name: Install
        size: 1x
        clone:
          depth: 2
        caches:
          - gradle-java17
          - gradlewrapper-java17
          - maven-java17
        script:
          - *setEnv
          - mvn install -T 1C -B -P-assembly,pipeline $MAVEN_ARGS
        artifacts:
          - target/local-repo/**
          - dspace-server-webapp/target/**
          - dspace-api/target/**
          - dspace-services/target/**
          - dspace-oai/target/**

    - step: &unit-test-code-checks
        runs-on: self.hosted
        name: unit-test-code-checks
        size: 2x
        caches:
          - gradle-java17
          - gradlewrapper-java17
          - maven-java17
        script:
          - *setEnv
          - cp -rf target/local-repo/** ~/.m2/repository/
          - mvn -T 1C test -B -pl dspace-api,dspace-server-webapp,dspace-services,dspace-oai -P-assembly -nsu -ntp -Dmaven.main.skip -DuseIncrementalCompilation=false -Dtest.argLine="-XX:MaxRAMPercentage=75 -XX:InitialRAMPercentage=60 -XX:+UseG1GC -XX:+HeapDumpOnOutOfMemoryError" -DskipUnitTests=false $MAVEN_ARGS
        artifacts:
          - dspace-api/target/surefire-reports/*-output.txt
          - dspace-server-webapp/target/surefire-reports/*-output.txt
          - dspace-services/target/surefire-reports/*-output.txt
          - dspace-oai/target/surefire-reports/*-output.txt
          - dspace-api/target/failsafe-reports/*-output.txt
          - dspace-server-webapp/target/failsafe-reports/*-output.txt
          - dspace-services/target/failsafe-reports/*-output.txt
          - dspace-oai/target/failsafe-reports/*-output.txt
          - ./*.dump
          - ./*.dumpstream

    - step: &integration-tests-dspace-api
        runs-on: self.hosted
        name: integration-tests-dspace-api
        size: 2x
        caches:
          - gradle-java17
          - gradlewrapper-java17
          - maven-java17
        script:
          - *setEnv
          - cp -rf target/local-repo/** ~/.m2/repository/
          - mvn verify -pl dspace-api -nsu -ntp -Dmaven.main.skip -DuseIncrementalCompilation=true -DskipUnitTests=true -DskipIntegrationTests=false -B -Dsurefire.rerunFailingTestsCount=2 -Dtest.argLine="-XX:MaxRAMPercentage=75 -XX:InitialRAMPercentage=60 -XX:+UseG1GC -XX:+HeapDumpOnOutOfMemoryError" $MAVEN_ARGS
        artifacts:
          - dspace-api/target/surefire-reports/*-output.txt
          - dspace-api/target/failsafe-reports/*-output.txt

    - step: &integration-tests-with-test-jars
        runs-on: self.hosted
        name: integration-tests-with-test-jars
        size: 2x
        caches:
          - gradle-java17
          - gradlewrapper-java17
          - maven-java17
        script:
          - *setEnv
#          - ./dspace-api/src/test/data/dspaceFolder/bin/install_grobid.sh
          - cp -rf target/local-repo/** ~/.m2/repository/
          - mvn verify -pl dspace-server-webapp -nsu -Dmaven.main.skip -DuseIncrementalCompilation=true -Dit.test=*IT,\!GenericAuthorizationFeatureIT,\!WorkspaceItemRestRepositoryIT,\!ItemImportIT,\!ItemRestRepositoryIT,\!LeftTiltedRelationshipRestRepositoryIT,\!RelationshipRestRepositoryIT,\!StatisticsRestRepositoryIT,\!DiscoveryRestControllerIT,\!PatchMetadataIT,\!VersionRestRepositoryIT,\!CollectionRestRepositoryIT,\!DiscoveryScopeBasedRestControllerIT,\!BrowsesResourceControllerIT,\!BitstreamRestRepositoryIT,\!RightTiltedRelationshipRestRepositoryIT,\!ResearcherProfileRestRepositoryIT,\!StatisticsRestSearchByCategoryRepositoryIT,\!TaskRestRepositoriesIT -DskipUnitTests=true -DskipIntegrationTests=false -B -Dsurefire.rerunFailingTestsCount=2 -Dtest.argLine=-Xmx4096M $MAVEN_ARGS
        artifacts:
          - dspace-server-webapp/target/surefire-reports/*-output.txt
          - dspace-server-webapp/target/failsafe-reports/*-output.txt

    - step: &integration-tests-slow
        runs-on: self.hosted
        name: integration-tests-slow
        size: 2x
        caches:
          - gradle-java17
          - gradlewrapper-java17
          - maven-java17
        script:
          - *setEnv
          - cp -rf target/local-repo/** ~/.m2/repository/
          - mvn verify -pl dspace-server-webapp -nsu -ntp -Dmaven.main.skip -Dit.test=GenericAuthorizationFeatureIT,WorkspaceItemRestRepositoryIT,ItemImportIT,ItemRestRepositoryIT,LeftTiltedRelationshipRestRepositoryIT,RelationshipRestRepositoryIT,StatisticsRestRepositoryIT,DiscoveryRestControllerIT,PatchMetadataIT,VersionRestRepositoryIT,CollectionRestRepositoryIT,DiscoveryScopeBasedRestControllerIT,BrowsesResourceControllerIT,BitstreamRestRepositoryIT,RightTiltedRelationshipRestRepositoryIT,ResearcherProfileRestRepositoryIT,StatisticsRestSearchByCategoryRepositoryIT,TaskRestRepositoriesIT -DskipUnitTests=true -DskipIntegrationTests=false -B -Dsurefire.rerunFailingTestsCount=2 -Dtest.argLine="-XX:MaxRAMPercentage=75 -XX:InitialRAMPercentage=60 -XX:+UseG1GC -XX:+HeapDumpOnOutOfMemoryError" $MAVEN_ARGS
        artifacts:
          - dspace-server-webapp/target/surefire-reports/*-output.txt
          - dspace-server-webapp/target/failsafe-reports/*-output.txt

pipelines:
  branches:
    'main-glam':
      - step: *install
      - parallel: &parallel-pipeline
          - step: *unit-test-code-checks
          - step: *integration-tests-with-test-jars
          - step: *integration-tests-slow
          - step: *integration-tests-dspace-api
    'prod/**':
      - step: *install
      - parallel: *parallel-pipeline

  pull-requests:
    '**':
      - step: *install
      - parallel:
          - step: *unit-test-code-checks
          - step: *integration-tests-with-test-jars
          - step: *integration-tests-slow
          - step: *integration-tests-dspace-api
  custom:
    install:
      - step: *install
    integration-tests-with-test-jars:
      - step: *integration-tests-with-test-jars
    integration-dspace-api:
      - step: *integration-tests-dspace-api
    integration-tests-slow:
      - step: *integration-tests-slow
    unit:
      - step: *unit-test-code-checks

