{
    "has_files": @virtual.bitstream_info.has_files.ORIGINAL@,
    "bitstreams": {
        "resourcepolicies": @virtual.bitstream_info.resourcepolicy.ORIGINAL@,
        "size": @virtual.bitstream_info.size.ORIGINAL@
    }
}
