#################################################################
#--------------------------- CORE -------------------------------#
#---------------------------------------------------------------#
# CORE API base (versioned)
core.api.url = https://api.core.ac.uk/v3
# Works search endpoint
core.api.search.works = /search/works
# Single work endpoint
core.api.works.byId = /works
# follow link to get apikey: https://api.core.ac.uk/docs/v3
core.apiKey =
# timeout in ms
core.timeout = 180000
# default page size (used by the provider)
core.pageSize = 10
#################################################################